/* Typography */

@font-face {
    font-family: "HedvigLettersSerif";
    src: url("HedvigLettersSerif-Regular.woff2") format("woff2");
    font-style: normal;
}

@font-face {
    font-family: "HedvigLettersSerif";
    src: url("HedvigLettersSerif18pt-Regular.woff2") format("woff2");
    font-style: bold;
}

/* Variables */

:root {
    --color-main-text: #1B1B1B;
    --color-main-border: #1B1B1B;
    --color-main-inverse: #fff;
    --color-bg: #eeeceb;
    --color-disabled: #B0B0B0;
    --padding: 1.8rem;
    --font-size-heading: 2.4em;
    --font-size-button: 1.2rem;
    --font-size-text: 1.2em;
    --border-radius: 34px;
    --transition-duration: 0.4s;
}

[data-theme="dark"] {
    --color-main-text: #eeeceb;
    --color-main-border: #FFF;
    --color-main-inverse: #1B1B1B;
    --color-bg: #1B1B1B;
    --color-disabled: #696969;
}

* { 
    box-sizing: border-box; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    text-rendering: optimizeLegibility; 
} 

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'HedvigLettersSerif', serif;
    background-color: var(--color-bg);
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    background-color: var(--color-bg);
    padding: var(--padding);
    border-bottom: 1px solid var(--color-main-border);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Centering h1 within header */
header h1 {
    margin: 0;
    font-size: var(--font-size-heading);
    color: var(--color-main-text);
    font-weight: normal;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Theme switch wrapper */
.theme-switch-wrapper {
    display: flex;
    margin-left: auto;
}

.theme-switch-wrapper em {
    font-size: var(--font-size-button);
}

.theme-switch {
    display: inline-block;
    height: 1.5rem;
    position: relative;
    width: 3rem;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: var(--color-bg);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: var(--transition-duration);
    border: 1px solid var(--color-main-border);
}

.slider:before {
    background-color: var(--color-main-border);
    bottom: 0.1rem;
    content: "";
    height: 1.2rem;
    left: 0.03rem;
    position: absolute;
    transition: var(--transition-duration);
    width: 1.2rem;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: var(--border-radius);
}

.slider.round:before {
    border-radius: 50%;
}

/* Timer container */

.container {
    text-align: center;
    padding: 20px;
}

#timerDisplay {
    font-size: 8em;
    margin: 20px 0;
    color: var(--color-main-text);
}

/* Timer controls */

.controls {
    margin: 20px 0;
}

.timeButton, #startStopButton {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-size: var(--font-size-button);
}

.timeButton {
    color: var(--color-main-text);
    background-color: var(--color-bg);
    cursor: pointer;
    border-radius: 90px;
    border: 1px solid var(--color-main-border);
}

#startStopButton {
    background-color: var(--color-main-text);
    color: var(--color-bg);
    cursor: pointer;
    border-radius: 90px;
    border: 1px solid var(--color-main-border);
}

#startStopButton:hover {
    background-color: var(--color-bg);
    color: var(--color-main-text);
}

#startStopButton:disabled, .timeButton:disabled {
/*    background-color: var(--color-disabled);*/
    border-color: var(--color-disabled);
    color: var(--color-disabled);
    cursor: not-allowed;
}

#quoteDisplay {
    margin-top: 20px;
    font-size: var(--font-size-text);
    color: var(--color-main-text);
}

/* Media Queries */

@media (max-width: 1200px) {
    :root {
        --font-size-heading: 2.5em;
        --font-size-button: 1em;
        --font-size-text: 1em;
    }

    #timerDisplay {
        font-size: 6em;
    }
}

@media (max-width: 992px) {
    :root {
        --font-size-heading: 2em;
        --font-size-button: 0.9em;
        --font-size-text: 0.9em;
    }

    #timerDisplay {
        font-size: 5em;
    }
}

@media (max-width: 768px) {
    :root {
        --font-size-heading: 1.5em;
        --font-size-button: 0.8em;
        --font-size-text: 0.8em;
    }

    #timerDisplay {
        font-size: 4em;
    }
}
